.main__wrapper
  .mypage__top
    .mypage__top__name
      .mypage__top__all-posts
        = link_to "#{@name}さんの投稿一覧", "/users/#{current_user.id}", class: "grey-text lighten-1"
      .mypage__top__liked-posts
        = @name + "さんのいいね一覧"
  .post__main
    = render partial: 'posts/post', collection: @liked_posts
    
  = render partial: "shared/newposts_button"


  .pagination
    = paginate(@liked_posts)
