.main__wrapper
  .mypage__top
    .mypage__top__name
      .mypage__top__posts
        = "#{@name}さんの投稿一覧"
      .mypage__top__posts
        = link_to "#{@name}さんのいいね一覧", "/users/#{current_user.id}/likes", class: "grey-text lighten-1"
  .post__main
    = render partial: 'posts/post', collection: @posts
    
  = render partial: "shared/newposts_button"


  .pagination
    = paginate(@posts)
