.main__wrapper
  .user__form
    %h2 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "test@test.com(テストアカウント)"
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password", placeholder: "test1234(テストアカウント)"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .user__form__submit
        = f.submit "Log in", class: 'uwaves-effect waves-light btn'
    = render "devise/shared/links"
