
= form_with model: post, local: true do |f|
  .post__form
    .post__form__pic 
      %label.post__form__top 写真
      .post__form__pic__box#img_field{onclick: "$('#image__upload').click()"}
        %i.medium.material-icons add_a_photo
      .post__form__pic__preview
        %img#preview{style:"height: 400px; width: 612px;"}
      = f.file_field :image, id: "image__upload", style: "display: none;"
    .post__form__place
      %label.post__form__top 国
      = f.collection_select :country, @countries, :number, :name, {prompt: '国を選んでください'}, class: "browser-default", id: "country_select"
    .post__form__duration
      %label.post__form__top 期間
      = f.select :duration, Post.durations_i18n.invert, {prompt: '期間を選んでください'}, class: "browser-default"
    .post__form__text
      %label.post__form__top 本文
      = f.text_area :text, class: "post__form__text__box"
    .post__form__btn
      = f.submit '送信', class: "btn waves-effect waves-light"
