.row
  .col.s6.offset-s3
    .card
      .card-image
        = image_tag post.image
        %span.card-title
          = ISO3166::Country.find_country_by_number(post.country).emoji_flag
      .card-content
        %p
          = ISO3166::Country.find_country_by_number(post.country).emoji_flag
          = post.text
      .card-action
        = link_to "Show Detail", "#"
        %i.material-icons favorite
