.row
  .col.s12
    .image-top
      = ISO3166::Country.find_country_by_number(post.country).alpha3
      = ISO3166::Country.find_country_by_number(post.country).emoji_flag
    .card
      .card-image
        = image_tag post.image, {style:"height: 215px; width: 285px;"}
      .card-content
        %p
          = post.text
      .card-action
        = link_to "Show Detail", post_path(post, params: { post_id: params[:id]}), class: "pink-text lighten-2"
        %i.material-icons favorite
