.main__wrapper
  .search__form
    = form_tag search_posts_path, method: :get do
      .row
        = text_field_tag :post, "", class: "search__form__box col s6 offset-s2", placeholder: "調べたいことは？ (例) 海 , お土産"
        = submit_tag "検索", class: "search__form__btn col s1 offset-s1"
  .freespace
    .freespace__content
      .freespace__sliderbox
        = image_tag "topslider1.png", class: "slider__panel"
        = image_tag "topslider2.png", class: "slider__panel"
        = image_tag "topslider3.png", class: "slider__panel"
      .freespace__sidebar
        %ul.freespace__sidebar__menu
          = render partial: 'freespace__sidebar', collection: @sidebarAreas, as: 'sidebarArea' 
  .post__main
    = render partial: 'post', collection: @posts

  = render partial: "shared/newposts_button"
      
  .pagination
  = paginate(@posts)

  .recommend
    .recommend__top
      次はどこにいく？
    .recommend__box
      .recommend__box__left
        = link_to root_path do
          = image_tag 'https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500', class: "recommend__box__left__image"
      .recommend__box__right
        .recommend__box__right__title
          オマーン世界遺産の城塞＆ドバイ豪華砂漠ホテルとマディナ・ジュメイラの5ツ星リゾート滞在☆世界遺産の観光付き！☆同じアラビア半島の国でも全く異なる二国周遊の旅
        .recommend__box__right__credit
          =link_to "http://webservice.recruit.co.jp" do
            %img{:alt => "エイビーロード航空券Webサービス", :border => "0", :height => "17", :src => "http://webservice.recruit.co.jp/banner/abroad-air-s.gif", :title => "エイビーロード航空券Webサービス", :width => "135"}/



