.main__wrapper
  .freespace
    .freespace__content
      .freespace__sliderbox
        = image_tag "/images/topslider1.PNG", class: "slider__panel"
        = image_tag "/images/topslider2.PNG", class: "slider__panel"
        = image_tag "/images/topslider3.PNG", class: "slider__panel"
      .freespace__sidebar
        %ul.freespace__sidebar__menu
          = render partial: 'freespace__sidebar', collection: @sidebarAreas, as: 'sidebarArea' 
  .post__main
    = render partial: 'post', collection: @posts

  .post__main__btn
    = link_to new_post_path, class: "btn-floating btn-large waves-effect waves-light red" do
      %i.material-icons add
      
  .pagination
  = paginate(@posts)

