.main__wrapper
  .search__form
    = form_tag search_posts_path, method: :get do
      .row
        = text_field_tag :post, "", class: "search__form__box col s6 offset-s2", placeholder: "調べたいことは？ (例) 海 , お土産"
        = submit_tag "検索", class: "search__form__btn col s1 offset-s1"
  .freespace
    .freespace__content
      .freespace__sliderbox
        = image_tag "topslider1.png", class: "slider__panel"
        = image_tag "topslider2.png", class: "slider__panel"
        = image_tag "topslider3.png", class: "slider__panel"
      .freespace__sidebar
        %ul.freespace__sidebar__menu
          = render partial: 'freespace__sidebar', collection: @sidebarAreas, as: 'sidebarArea' 
  .post__main
    = render partial: 'post', collection: @posts

  = render partial: "shared/newposts_button"
      
  .pagination
  = paginate(@posts)

