.main-wrapper
  .post__info
    .post__info__top
      = image_tag @post.image, class: "post__info__image"
      .post__info__sideinfo
        %ul.post__info__sideinfo__lists
          %li.post__info__sideinfo__list
            %label エリア
            .post__info__sideinfo__list-contents
            = @country.region
          %li.post__info__sideinfo__list
            %label 国
            .post__info__sideinfo__list-contents
            = @country.name
          %li.post__info__sideinfo__list
            %label 期間
            .post__info__sideinfo__list-contents
            = @post.duration_i18n
          %li.post__info__sideinfo__list
            %label ユーザー名
            .post__info__sideinfo__list-contents
            = @post.user.name
          - if user_signed_in?
            %li.post__info__sideinfo__lists#edit-list
              .post__info__sideinfo__lists__like{id: "like-#{@post.id}"}
                = render partial: "like", locals: {post: @post}
              - if user_signed_in? && current_user.id == @post.user.id
                .post__info__sideinfo__lists__edit
                  = link_to edit_post_path, class: "info_btn" do
                    %i.material-icons mode_edit
                .post__info__sideinfo__lists__delete
                  = link_to post_path(@post.id), method: :delete, data: {confirm: "削除しますか？"}, class: "info_btn" do
                    %i.material-icons delete
    .post__info__bottom
      .post__info__text
        = @post.text
    .post__info__btn
      = link_to "<もどる", posts_path
